body {
  font-family: monospace;
  background-color: #000;
  color: #00aa00;
  margin: 0;
  padding: 0;
}

.terminal {
  padding: 10px;
}

.terminal pre {
  margin: 0;
}

.terminal input {
  font-family: monospace;
  width: 100%;
  border: none;
  background-color: transparent;
  color: inherit;
  outline: none;
  margin: 0;
  padding: 0;
}

.terminal input:focus {
  outline: none;
}

.terminal input::placeholder {
  color: #888;
}

.terminal input:focus::placeholder {
  color: #aaa;
}
